.navbar {
  font-family: 'Inter', sans-serif;
  background-color: #272727;
  color: white;
  padding: 24px 12px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  top: 0;
  z-index: 1000;
  margin: 0 auto;
}

.navbar h1 {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.navbar nav ul {
  display: flex;
  align-items: center;
  gap: 18px;
}

.navbar nav ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  padding: 12px;
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
  display: flex;
  align-items: center;
}

.navbar nav ul li:hover {
  background-color: #333;
}

.arrow {
  margin-left: 2px;
  font-size: 12px;
}

.navbar nav ul li .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #272727;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0;
  min-width: 220px;
}

.navbar nav ul li .dropdown li {
  font-size: 12px;
  font-weight: 500;
  padding: 12px 12px;
  cursor: pointer;
  line-height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar nav ul li .subdropdown {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 200px;
  z-index: 1000;
}

.navbar nav ul li .subdropdown li {
  font-size: 14px;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  line-height: 20px;
  width: 100%;
}

.navbar nav ul li .subdropdown li:hover {
  background-color: #444;
}

.subArrow {
  margin-left: 4px;
  font-size: 8px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger svg {
  width: 42px;
  height: 42px;
  color: white;
}

.mobileMenu {
  display: none;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background-color: #272727;
  color: white;
  padding: 8px 24px;
}

.mobileMenu li {
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  padding: 12px;
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobileMenu li:hover {
  background-color: #333;
}

.mobileMenu .dropdown {
  margin-top: 8px;
}

.mobileMenu .dropdown li {
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  line-height: 20px;
  padding: 8px;
}

.mobileMenu .dropdown li:hover {
  background-color: #444;
}

.mobileMenu .dropdown li div {
  display: flex;
  align-items: center;
}

.mobileMenu .dropdown .subdropdown {
  margin-top: 8px;
  background-color: #444;
  width: 100%;
}

.mobileMenu .dropdown .subdropdown li:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .navbar nav .menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .mobileMenu {
    display: flex;
  }

  .navbar {
    padding: 8px 12px;
  }
}
